In [77]:
import pandas as pd
from sklearn.model_selection import train_test_split

no_seed = 572

In [78]:
df_raw = pd.read_csv('data/milknew_raw.csv')
print(df_raw.shape)
df_raw.head()

(1059, 8)

    pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0  6.6          35      1     0     1          0     254    high
1  6.6          36      0     1     0          1     253    high
2  8.5          70      1     1     1          1     246     low
3  9.5          34      1     1     0          1     255     low
4  6.6          37      0     0     0          0     255  medium

# Generate index for analysis in the future

In [79]:
df_raw = df_raw.reset_index()
print(df_raw.shape)
df_raw.head()

(1059, 9)

   index   pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0      0  6.6          35      1     0     1          0     254    high
1      1  6.6          36      0     1     0          1     253    high
2      2  8.5          70      1     1     1          1     246     low
3      3  9.5          34      1     1     0          1     255     low
4      4  6.6          37      0     0     0          0     255  medium

# Train 80 - Test 20

In [80]:
X_train, X_test = train_test_split(df_raw, test_size=0.2, random_state=no_seed, stratify=df_raw['Grade'])
print(X_train.shape, X_test.shape)
print(f"Train sample: {(X_train.shape[0]/df_raw.shape[0])*100:.02f}%")
print(f"Test  sample: {(X_test.shape[0]/df_raw.shape[0])*100:.02f}%")

(847, 9) (212, 9)
Train sample: 79.98%
Test  sample: 20.02%

In [81]:
df_train_stats82 = pd.DataFrame(X_train.Grade.value_counts(dropna=False, normalize=True)*100).reset_index()
df_train_stats82.columns = ['Grade', 'percentage_in_train']
df_test_stats82 = pd.DataFrame(X_test.Grade.value_counts(dropna=False, normalize=True)*100).reset_index()
df_test_stats82.columns = ['Grade', 'percentage_in_test']
df_stats82_class = pd.merge(df_train_stats82, df_test_stats82, on='Grade')
df_stats82_class

    Grade  percentage_in_train  percentage_in_test
0     low            40.495868           40.566038
1  medium            35.301063           35.377358
2    high            24.203070           24.056604

In [82]:
X_train.to_csv('data/x_train_82.csv', index=False, encoding='utf-8-sig')
X_test.to_csv('data/x_test_82.csv', index=False, encoding='utf-8-sig')

In [83]:
X_train.head(2)

     index   pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
244    244  6.5          38      1     0     1          0     255  medium
824    824  6.8          45      0     0     0          1     255  medium

# Train 70 - Test 30

In [84]:
X_train, X_test = train_test_split(df_raw, test_size=0.3, random_state=no_seed, stratify=df_raw['Grade'])
print(X_train.shape, X_test.shape)
print(f"Train sample: {(X_train.shape[0]/df_raw.shape[0])*100:.02f}%")
print(f"Test  sample: {(X_test.shape[0]/df_raw.shape[0])*100:.02f}%")

(741, 9) (318, 9)
Train sample: 69.97%
Test  sample: 30.03%

In [85]:
df_train_stats73 = pd.DataFrame(X_train.Grade.value_counts(dropna=False, normalize=True)*100).reset_index()
df_train_stats73.columns = ['Grade', 'percentage_in_train']
df_test_stats73 = pd.DataFrame(X_test.Grade.value_counts(dropna=False, normalize=True)*100).reset_index()
df_test_stats73.columns = ['Grade', 'percentage_in_test']
df_stats73_class = pd.merge(df_train_stats73, df_test_stats73, on='Grade')
df_stats73_class

    Grade  percentage_in_train  percentage_in_test
0     low            40.485830           40.566038
1  medium            35.357625           35.220126
2    high            24.156545           24.213836

In [86]:
X_train.to_csv('data/x_train_73.csv', index=False, encoding='utf-8-sig')
X_test.to_csv('data/x_test_73.csv', index=False, encoding='utf-8-sig')

In [87]:
X_train.head(2)

      index   pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
482     482  6.8          40      1     0     1          0     245  medium
1033   1033  6.6          38      0     0     0          0     255  medium